@font-face {
  font-family: "Retroking";
  src: url(../fonts/Retroking.ttf);
}

/* 0 */
* {
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* 2 */
html > body > * {
  font-size: 16px;
}

/* 10 */
.wrapper {
  max-width: 70vw;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

/* 1 */
nav {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

/* 10 */
.logo {
  display: flex;
  align-items: center;
  align-content: center;
}

/* 12 */
.logo > a > img {
  width: 120px;
  transform: scaleX(-1);
  vertical-align: middle;
}

/* 11 */
.logo > h1 {
  color: rgb(231, 231, 231);
  margin: 0 0 0 10px;
  font-family: "Retroking";
  font-size: 2rem;
  text-shadow: 1px 2px 5px rgb(177, 0, 29);
}

/* 11 */
.nav-bar > button {
  background-color: rgb(104, 1, 1);
  margin: 0 8px;
  border-radius: 8px;
}

/* 21 */
.nav-bar > button:hover {
  background-color: rgb(163, 0, 0);
}

/* 12 */
.nav-bar > button > a {
  display: block;
  color: whitesmoke;
  font-weight: 700;
  font-size: 0.85rem;
  padding: 10px 30px;
  text-decoration: none;
}

/* 12 */
main > article.info-card {
  margin: 30px 0;
  display: flex;
  align-content: center;
}

/* 10 */
.img-box {
  display: flex;
  align-items: center;
}

/* 20 */
.img-box.left {
  margin-right: 10px;
}

/* 20 */
.img-box.right {
  margin-left: 10px;
}

/* 11 */
.img-box > img {
  width: 300px;
}

/* 10 */
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

/* 11 */
.content-box > h2 {
  font-family: "Retroking";
}

/* 11 */
.content-box > p {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  /* 1 */
  html,
  /* 1 */
  body,
  /* 10 */
  .wrapper {
    background-color: rgb(20, 20, 20);
  }

  /* 1 */
  nav {
    background-color: rgb(15, 15, 15);
  }

  /* 11 */
  .logo > h1 {
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
  }

  /* 12 */
  main > article.info-card > * {
    color: rgb(202, 202, 202);
  }

  /* 11 */
  .nav-bar > button {
    background-color: rgb(56, 56, 56);
  }

  /* 21 */
  .nav-bar > button:hover {
    background-color: rgb(124, 21, 21);
  }
}
